# npm
node_modules/
npm-debug.log
package-lock.json

# build output
dist/

# Visual Studio Code Settings
.vscode/

#Visual Studio Settigns
.vs/

#svgs
src/assets/img/action-icons/*.svg
.github/skills/*
.gitignore
